// Color Variables
$blue-1: #0194E6;
$blue-2: #80C2FF;
$blue-3: #007FDB;
$blue-link: #0089ED;
$border-bottom:#81C3FF;
$black: #000000;
$white: #fff;
$gray: #636363;
$hover-gray: #666666;
$shadow-gray: #6363638f;