@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a, button {
  transition: transform 0.2s;
}

a:active, button:active {
  transform: translateY(-5px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  gap: 10px;
}
.header .navigation {
  width: max(20%, 200px);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header .navigation .nav__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.header .navigation .nav__logo img {
  width: 75px;
  aspect-ratio: 1/1;
}
.header .navigation .nav__logo-heading {
  font-size: clamp(0.875rem, 0.742rem + 0.4255vw, 1.125rem);
  font-weight: 700;
  color: #0194E6;
  line-height: 100%;
}
.header .navigation .nav__menu {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #80C2FF;
  border-bottom: 1px solid #80C2FF;
}
.header .navigation .nav__menu__list {
  padding: 0 20px;
  border-left: 1px solid #80C2FF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header .navigation .nav__menu__list__items {
  width: 100%;
}
.header .navigation .nav__menu__list__items-link {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(0.75rem, 0.6835rem + 0.2128vw, 0.875rem);
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  padding-bottom: 5px;
  position: relative;
}
.header .navigation .nav__menu__list__items-link::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 50px;
  background-color: #81C3FF;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s;
}
.header .navigation .nav__menu__list__items-link:hover::after {
  width: 100%;
  opacity: 1;
}
.header .navigation .nav__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header .navigation .nav__contact__phone {
  width: 100%;
}
.header .navigation .nav__contact__phone a {
  display: inline-block;
  width: 100%;
  font-size: clamp(0.75rem, 0.3178rem + 1.383vw, 1.5625rem);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #636363;
}
.header .navigation .nav__contact__booking {
  width: 100%;
}
.header .navigation .nav__contact__booking button {
  width: 100%;
  background-color: #0089ED;
  border: none;
  padding: 15px 0;
  border-radius: 10px;
  font-size: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
  font-weight: 400;
  color: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.322);
  cursor: pointer;
  transition: background-color 0.2s;
}
.header .navigation .nav__contact__booking button:hover {
  background-color: #80C2FF;
}
.header .navigation .nav__contact__social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #80C2FF;
}
.header .navigation .nav__contact__social-media .social-media__links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #80C2FF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.322);
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s;
}
.header .navigation .nav__contact__social-media .social-media__links a:hover {
  transform: translateY(2px);
  background-color: #0089ED;
}
.header .navigation .nav__contact__social-media .social-media__links a img {
  width: 100%;
}
.header .navigation .nav__contact__location {
  width: 100%;
  display: flex;
  gap: 5px;
}
.header .navigation .nav__contact__location img {
  width: 20px;
  height: 20px;
}
.header .navigation .nav__contact__location .location-name {
  font-size: clamp(0.75rem, 0.6835rem + 0.2128vw, 0.875rem);
  color: #0089ED;
  line-height: 100%;
}
.header .header-grid {
  padding-top: 20px;
  margin-right: 40px;
  width: 100vw;
  height: 800px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-template-areas: "box1 box1 box1 box2 box2 box2 box2 box2 box2" "box1 box1 box1 box2 box2 box2 box2 box2 box2" "box1 box1 box1 box2 box2 box2 box2 box2 box2" "box3 box3 box3 box2 box2 box2 box2 box2 box2" "box3 box3 box3 box2 box2 box2 box2 box2 box2" "box3 box3 box3 box4 box4 box4 box4 box4 box4" "box3 box3 box3 box4 box4 box4 box4 box4 box4" "box3 box3 box3 box4 box4 box4 box4 box4 box4" "box3 box3 box3 box5 box5 box5 box5 box5 box5" "box3 box3 box3 box5 box5 box5 box5 box5 box5" "box3 box3 box3 box5 box5 box5 box5 box5 box5";
}
.header .header-grid__box {
  background-repeat: no-repeat;
  background-size: 100vw 800px;
  border-radius: 10px;
}
.header .header-grid .box1 {
  grid-area: box1;
  background-image: url("../img/header/background.png");
  background-position: 0 0;
}
.header .header-grid .box2 {
  grid-area: box2;
  background-image: url("../img/header/background.png");
  background-position: 55% 0%;
}
.header .header-grid .box3 {
  grid-area: box3;
}
.header .header-grid .box4 {
  grid-area: box4;
  background-image: url("../img/header/background.png");
  background-position: 55% 60%;
}
.header .header-grid .box5 {
  grid-area: box5;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
}
.header .header-grid .box5 .course {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.header .header-grid .box5 .course p {
  margin-left: 50px;
}
.header .header-grid .box5 .course img {
  position: absolute;
  z-index: -1;
}
.header .header-grid .box5 .course .course-number {
  color: #007FDB;
  font-size: clamp(1.25rem, -0.0798rem + 4.2553vw, 3.75rem);
  font-weight: 700;
}
.header .header-grid .box5 .course .course-title {
  font-size: clamp(1rem, 0.867rem + 0.4255vw, 1.25rem);
  color: #000000;
  font-weight: 500;
}
.header .header-grid .registration {
  background-color: #0194E6;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.header .header-grid .registration__heading-title {
  margin-bottom: 10px;
  font-size: clamp(0.9375rem, 0.5718rem + 1.1702vw, 1.625rem);
  color: #FFFFFF;
  font-weight: 500;
}
.header .header-grid .registration__heading-get {
  font-weight: 300;
  font-size: clamp(0.875rem, 0.7753rem + 0.3191vw, 1.0625rem);
  color: #FFFFFF;
}
.header .header-grid .registration__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .header-grid .registration__form .username, .header .header-grid .registration__form .email, .header .header-grid .registration__form .phone-number {
  position: relative;
  width: 100%;
}
.header .header-grid .registration__form .username input, .header .header-grid .registration__form .email input, .header .header-grid .registration__form .phone-number input {
  padding: 10px 0;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-size: clamp(0.875rem, 0.8418rem + 0.1064vw, 0.9375rem);
  transition: all 0.2s;
}
.header .header-grid .registration__form .username input::-moz-placeholder, .header .header-grid .registration__form .email input::-moz-placeholder, .header .header-grid .registration__form .phone-number input::-moz-placeholder {
  color: #FFFFFF;
  font-size: clamp(0.875rem, 0.8418rem + 0.1064vw, 0.9375rem);
}
.header .header-grid .registration__form .username input::placeholder, .header .header-grid .registration__form .email input::placeholder, .header .header-grid .registration__form .phone-number input::placeholder {
  color: #FFFFFF;
  font-size: clamp(0.875rem, 0.8418rem + 0.1064vw, 0.9375rem);
}
.header .header-grid .registration__form .username input:hover, .header .header-grid .registration__form .email input:hover, .header .header-grid .registration__form .phone-number input:hover {
  transform: scale(1.05);
}
.header .header-grid .registration__form .username input:hover + svg, .header .header-grid .registration__form .email input:hover + svg, .header .header-grid .registration__form .phone-number input:hover + svg {
  transform: translateX(10px) translateY(-10px);
}
.header .header-grid .registration__form .username input[type=number]::-webkit-outer-spin-button, .header .header-grid .registration__form .username input[type=number]::-webkit-inner-spin-button, .header .header-grid .registration__form .email input[type=number]::-webkit-outer-spin-button, .header .header-grid .registration__form .email input[type=number]::-webkit-inner-spin-button, .header .header-grid .registration__form .phone-number input[type=number]::-webkit-outer-spin-button, .header .header-grid .registration__form .phone-number input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.header .header-grid .registration__form .username svg, .header .header-grid .registration__form .email svg, .header .header-grid .registration__form .phone-number svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition: all 0.2s;
}
.header .header-grid .registration__form .label-rules {
  display: flex;
  gap: 10px;
}
.header .header-grid .registration__form .label-rules p {
  font-size: clamp(0.625rem, 0.5585rem + 0.2128vw, 0.75rem);
  color: #FFFFFF;
}
.header .header-grid .registration__form select {
  padding: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-size: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
  cursor: pointer;
}
.header .header-grid .registration__form select option {
  background-color: #0089ED;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}
.header .header-grid .registration__form .registration__btn {
  width: 100%;
  background-color: #FFFFFF;
  color: #666666;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.742rem + 0.4255vw, 1.125rem);
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.header .header-grid .registration__form .registration__btn:hover {
  box-shadow: 0 4px 10px #666666;
  background-color: rgba(130, 199, 218, 0.7333333333);
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */